html {
    box-sizing: border-box;
    overflow-y: scroll;
    font-size: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body, main, section, article {
    margin: 0;
    padding: 0;
    border: 0;
}


/*  */



body {
    width: 100vw;
    height: 100vh;
    display: block;
    border-left: 2vw solid white;
    border-right: 2vw solid white;
}

main {
    height: 100vh;
    width: 96vw;
}

section {
    /* height: 100vh; */
    width: 96vw;
    padding: 0 0 5vh 0;
    /* background-color: rgba(220, 220, 220, 0.9); */
    background-color: rgba(244, 244, 244, 0.9);

}

/* background area fixed */
.background {
    height: 100vh;
    position: fixed;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.welcome {
    height: 100vh;
    position: relative;
    margin: 0 0 2vw 0;
    /*
    border: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    */
}

#about, #prices {
  background-color: white;
  /* background-color: rgb(25, 158, 118); */
  
}





article {
    width: 96vw;
}

#circle {
    min-width: 40vh;
    min-height: 40vh;
    background: rgba(203, 202, 202, 0.2);
    border-radius: 50%;
}

#zenshiatsu_logo {
  width: 18vh;
  height: 18vh;
  min-width: 90px;
  min-height: 90px;
  padding: 0 0 2vh 0;
}




/* welcome page */
.message {
  padding: 8vh 0 0 10vw;
  width: 70vw;
  /* font-size: 3vw; */
  font-size: calc(12px + 2vw);
}
/*
@media screen and (min-width: 1200px) {
  .message {
     font-size: 36px;
  }
}
*/




.contact {
  font-size: 0.6em;
  margin: 2vh 0 0 0;
}








.contact svg {
  height: 3rem;
  width: 3rem;
}
.contact a {
  display: inline-block;
  width: auto;

  color: rgb(72, 72, 72);
  padding: 0.7rem 3rem 0.7rem 3rem;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  margin: 1rem 0 0 0;
  text-decoration: none;
  transition: background-color 0.5s ease;
  box-shadow: 2px 2px 12px 2px rgba(0,0,0,.08);
}
.contact a:hover {
  color: white;
  background-color: rgb(90, 90, 90);
}
.contact a:focus {
  color: white;
  background-color: rgb(90, 90, 90);
}
.adr {
  margin: 0 0 2rem 0;
}
.tel {
  white-space: nowrap;
}





/* RESPONSIVE IMAGES */
img {
    width: 100%;
    max-width: 600px;
    height: auto;
}





/* flex content */
/*
article.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    background-color: cornsilk;
}
*/

/**
 * content wrapper
 * image and text container
 */
.holder, .holder-reverse {
    display: flex;
    width: 96vw;
    /* padding: 3vw 6vh 3vw 6vh; */
}
  
  /* better whitespace near */
  .holder::before,
  .holder::after,
  .holder-reverse::before,
  .holder-reverse::after {
      content: "";
  }
  
  /* welcome part */
  .holder {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;     /* center horizontally / when wrapped */
      align-items: center;                /* center vertically */
      align-content: center;              /* a */
  }
  .holder-reverse {
      flex-direction: row-reverse;
      flex-wrap: wrap;
      justify-content: space-around;     /* left aling / as this is row reversed */
      align-items: center;
      align-content: center;
  }
  /* picture and text floated elems */
  .picture, .text {
      padding: 4vw 2vw 0 2vw;
      float: left;
  }
  .picture img {
      /* margin: 2vh 3vw 2vh 3vw; */
  }




/* tipo */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight:300;
  color: rgb(72, 72, 72);
}

.text {
  margin: 2vh 0  1vh 0;
  font-size: calc(16px + 1.5vw);
}

@media screen and (min-width: 500px) {
  .message {
    font-size: 36px;
  }
}


.text p {
  font-size: 18px;
  max-width: 45ch;
}

/* s */
h1 {
    padding: 0;
    margin: 0;
}

.slogan {
  padding: 30px 0 30px 0;
}

.line {
  display: block;
  margin: 0 0 10px 0;
}

header {

}

.sectiontitle {
  padding: 0;
  margin: 0;
  /* font-size: 3vmin; */
  font-size: calc(16px + 1.5vw);
  width: 100%;
  /* background-color: aqua; */
}



footer {
  clear: both;
  padding: 4%;
  font-size: 18px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: flex-start;
  line-height: 2rem;
  background-color: #1a1a1a;
  color: white;
}

footer svg {
  height: 2em;
  padding: 12px 0 0 0;
}

footer a {
  color: white;
}
.address {
  margin: 0 0 0 3rem;
}

.icons {

}

.menu {
  width: 90%;
  margin: 40px;
  background-color: aquamarine;
}

.menu span {
  margin: 0 2rem 0 2rem;
}







/* [1] The container */


/* [2] Transition property for smooth transformation of images */
.picture img {
  transition: transform .5s ease;
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
/*

  filter: grayscale(100%);
  filter: brightness(110%);
  filter: contrast(65%);
  */
}

/* [3] Finally, transforming the image when container gets hovered */
.picture img:hover {
  transform: scale(1.02);
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

img {

}

img.n {
  
  height: 40vh;
  width: auto;
  box-shadow: none;
  filter: none;
}
img.n:hover {
  box-shadow: none;
  filter: none;
}



img.logos {
  box-shadow: none;
  filter: none;
  width: 16rem;
  padding: 3rem;
}

#menu li
{
  padding: 10px 0;
  font-size: calc(16px + 1vw);
}




.campaign {
  padding: 2rem 0 2rem 0;
}

.campaign img {
  max-width: 500px;
}

#menu li.campaign-link {
  font-size: calc(16px + 0.5vw);
  padding: 2.6rem 0 0 0;
}





















strong {
  padding: .5rem;
  font-size: 1.7rem;
  font-weight: 100;
}

.season {
  background: white url('../pl.svg') no-repeat right;
}




.icon {
  width: 6vh;
  height: 6vh;
  min-width: 60px;
  min-height: 60px;
  margin:  1rem 4rem 1rem 4rem;
}



